@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?r85ocy');
    src:  url('../fonts/icomoon.eot?r85ocy#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?r85ocy') format('truetype'),
      url('../fonts/icomoon.woff?r85ocy') format('woff'),
      url('../fonts/icomoon.svg?r85ocy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-apple:before {
    content: "\e901";
  }
  .icon-bill_trackingpayment:before {
    content: "\e902";
  }
  .icon-call:before {
    content: "\e903";
  }
  .icon-close:before {
    content: "\e904";
  }
  .icon-enhance_efficiency:before {
    content: "\e907";
  }
  .icon-left:before {
    content: "\e908";
  }
  .icon-mail:before {
    content: "\e909";
  }
  .icon-next:before {
    content: "\e90a";
  }
  .icon-right:before {
    content: "\e90c";
  }
  .icon-search:before {
    content: "\e90d";
  }
  .icon-take_and_manage_orders:before {
    content: "\e910";
  }
  .icon-track_bills_and_payments:before {
    content: "\e913";
  }
  .icon-upload:before {
    content: "\e917";
  }
  